<button id="scrape-btn" class="btn btn-dark btn-lg" role="button">Scrape New Articles</button>
<a id="delete-btn" class="btn btn-dark btn-lg" href="/api/article/delete/all" role="button">Delete All</a>
<a id="view-btn" class="btn btn-dark btn-lg" href="/savedarticle" role="button">View Saved Articles</a>